* {
	margin: 0;
	padding: 0;
}

header {
	background: #fdd11e;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

header h1 {
	color: #fff;
}

header .emoji {
	background: #b19215;
	width: 5rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2.5rem;
}

header .emoji p {
	color: #7c660f;
	font-size: 1.5rem;
	font-weight: 800;
}

footer {
	background: #ff555a;
	height: 20vh;
	display: flex;
	justify-content: center;
}

footer .triangle {
	width: 0;
	height: 0;
	border: 150px solid transparent;
	border-top: 60px solid #fdd11e;
	border-bottom: 0;
}
